# exportPattern("^[[:alpha:]]+")

export(forint)
export(get_usdhuf)
export(get_bitcoin_price)
export(get_usdhufs)
importFrom(checkmate, assert_number)
importFrom(checkmate, assert_numeric)
importFrom(scales, dollar)
importFrom(jsonlite, fromJSON)
importFrom(logger, log_error)
importFrom(logger, log_info)
importFrom(binancer, binance_coins_prices)
importFrom(data.table, data.table)
importFrom(httr, GET)
importFrom(httr, content)
